DEBUG=0
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=what_cook
SQL_USER=what_cook
SQL_PASSWORD=secret
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
